.title {
  width: 90%;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.title h1 {
  font-size: 50px;
}
.title p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.btn {
  background-color: lightblue;
  border: 1px;
  padding: 15px 30px;
  color: #000000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
}
